header{
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
}
nav{
    color: white;
    display: flex;
    align-items: end;
    justify-content: space-around;
}
h1{
    width: 330px;
    height: 200px;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    margin-top: 114px;
    margin-bottom: 114px;
}

ul{
    list-style: none;
}
p{
    font-size: 25px;
    font-weight: 300px;
}
.img2{
    width: 470px;
    height: 320px;
    margin-left: 100px;
    border-radius: 15px;
     display: flex;
   flex-wrap: nowrap;
    gap: 20px;
}
.main{
    margin-top: 300px;
    width: 2000px;
   display: flex;
  margin: auto;
   flex-wrap: wrap;
   
}
.p1{
    width: 470px;
    height: 370px;
    margin-left: 120px;

}
h2{
    margin-left: 250px;
}
footer{
     color: white;
    display: flex;
    align-items: end;
    justify-content: space-around;
       background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
}
